

.navLinks {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    position: fixed;  /* Add position: fixed */
    bottom: 0;         /* Position it at the bottom */
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none; /* Remove default list styling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */  
}

/* .nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.nav-list li a {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */


.nav-list li.active {    
  transform: scale(1.3); 
    /* border-radius: 50px;
    font-weight: bold;
    background-color: #ddd;  Add a background color for active link */
}



