.view-khat {
    background-color: #ffffff;
    border-radius: 20px;
    height: 800px;
    overflow: hidden;
    position: relative;
    width: 360px;
  }
  
  .view-khat .overlap-group {
    height: 446px;
    left: 24px;
    position: absolute;
    top: 132px;
    width: 314px;
  }
  
  .view-khat .input-feilds {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 446px;
    left: 0;
    position: absolute;
    top: 0;
    width: 313px;
  }
  
  .view-khat .label-2 {
    align-self: stretch;
    color: var(--neutral-colordark-grey);
    font-family: var(--poppins-medium-20px-font-family);
    font-size: var(--poppins-medium-20px-font-size);
    font-style: var(--poppins-medium-20px-font-style);
    font-weight: var(--poppins-medium-20px-font-weight);
    letter-spacing: var(--poppins-medium-20px-letter-spacing);
    line-height: var(--poppins-medium-20px-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .view-khat .textbox-feild {
    align-items: center;
    border: 1px solid;
    border-color: #562f0e;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 2px;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px 11px;
    position: relative;
    width: 312px;
  }
  
  .view-khat .lorem-ipsum {
    align-self: stretch;
    color: var(--neutral-colorblack);
    flex: 1;
    font-family: "Poppins-Light", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .view-khat .span {
    color: #1f1f1f;
    font-family: "Poppins-Light", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
  }
  
  .view-khat .text-wrapper-4 {
    font-size: 14px;
  }
  
  .view-khat .text-wrapper-5 {
    color: #5b3a1d;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    height: 54px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 52px;
    width: 312px;
  }
  
  .view-khat .buttons-instance {
    background-color: #eedfc9 !important;
    display: flex !important;
    left: 172px !important;
    position: absolute !important;
    top: 601px !important;
    width: 165px !important;
  }
  
  .view-khat .design-component-instance-node {
    color: #000000 !important;
    margin-left: -11.5px !important;
    margin-right: -11.5px !important;
    text-align: center !important;
  }
  
  .view-khat .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 31px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 612px;
    width: 121px;
  }
  
  .view-khat .bottom-nav-instance {
    left: 4px !important;
    position: absolute !important;
    top: 680px !important;
  }
  