.view-khat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .view-khat .overlap-group {
    height: 446px;
    left: 24px;
    position: absolute;
    top: 132px;
    width: 314px;
  }
  
  .view-khat .input-feilds {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 446px;
    left: 0;
    position: absolute;
    top: 0;
    width: 313px;
  }
  

  
  .view-khat .textbox-feild {
    align-items: center;
    border: 1px solid;
    border-color: #562f0e;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 2px;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px 11px;
    position: relative;
    width: 312px;
  }
  
  .view-khat .lorem-ipsum {
    align-self: stretch;
    color: var(--neutral-colorblack);
    flex: 1;
    font-family: "Poppins-Light", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .view-khat .span {
    color: #1f1f1f;
    font-family: "Poppins-Light", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
  }
  
  .button_home {
    width: 152px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 11px;
    background: #5B3A1D;
    color : #ffffff;
    position: absolute;
    top: 680px;
  }
  
  .view-khat .text-wrapper-5 {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: #5b3a1d;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
  }

  .view-khat .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    padding : 10px;
    height: 31px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 612px;

  }
  
