.pageNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.pageNotFound img{
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
}