@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    font-size: 25px;
    font-weight: bold;
    color: #5B3A1D;
}

.warningText {
    font-size: 12px;
    color: gray;
}

.codePrompt {
    font-weight:400px;
    font-size: 20px;
    color: gray;
}

.simpleInput {
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Poppins';
    min-height: 40px;
}

.inputHeader {
    font-size: 20px;
    font-weight: 500;
    color: #595959;
}

.main{
    margin-top: 20px;
    padding: 20px 30px;
    font-family: 'Poppins';
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    flex: 1;
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
}

.upper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.dropDown {
    padding: 0 10px;
    background-color: white;
    border-radius: 8px;
}

.inputSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}


.verifyBtn {
    margin-top: 20px;
    align-self: center;
    
}

.buttonSpace {
    margin-top: 30px;
}