:root {
    --neutral-colorblack: rgba(32, 32, 32, 1);
    --neutral-colordark-grey: rgba(89, 89, 89, 1);
    --neutral-colorgrey: rgba(136, 136, 136, 1);
    --neutral-colorlight-grey: rgba(190, 190, 190, 1);
    --neutral-colorwhite: rgba(255, 255, 255, 1);
    --poppins-bold-25px-font-family: "Poppins", Helvetica;
    --poppins-bold-25px-font-size: 25px;
    --poppins-bold-25px-font-style: normal;
    --poppins-bold-25px-font-weight: 700;
    --poppins-bold-25px-letter-spacing: 0px;
    --poppins-bold-25px-line-height: normal;
    --poppins-medium-16px-font-family: "Poppins", Helvetica;
    --poppins-medium-16px-font-size: 16px;
    --poppins-medium-16px-font-style: normal;
    --poppins-medium-16px-font-weight: 500;
    --poppins-medium-16px-letter-spacing: 0px;
    --poppins-medium-16px-line-height: normal;
    --poppins-medium-20px-font-family: "Poppins", Helvetica;
    --poppins-medium-20px-font-size: 20px;
    --poppins-medium-20px-font-style: normal;
    --poppins-medium-20px-font-weight: 500;
    --poppins-medium-20px-letter-spacing: 0px;
    --poppins-medium-20px-line-height: normal;
    --poppins-regular-12px-font-family: "Poppins", Helvetica;
    --poppins-regular-12px-font-size: 12px;
    --poppins-regular-12px-font-style: normal;
    --poppins-regular-12px-font-weight: 400;
    --poppins-regular-12px-letter-spacing: 0px;
    --poppins-regular-12px-line-height: normal;
    --poppins-regular-13px-font-family: "Poppins", Helvetica;
    --poppins-regular-13px-font-size: 13px;
    --poppins-regular-13px-font-style: normal;
    --poppins-regular-13px-font-weight: 400;
    --poppins-regular-13px-letter-spacing: 0px;
    --poppins-regular-13px-line-height: normal;
    --poppins-regular-16px-font-family: "Poppins", Helvetica;
    --poppins-regular-16px-font-size: 16px;
    --poppins-regular-16px-font-style: normal;
    --poppins-regular-16px-font-weight: 400;
    --poppins-regular-16px-letter-spacing: 0px;
    --poppins-regular-16px-line-height: normal;
    --poppins-regular-20px-font-family: "Poppins", Helvetica;
    --poppins-regular-20px-font-size: 20px;
    --poppins-regular-20px-font-style: normal;
    --poppins-regular-20px-font-weight: 400;
    --poppins-regular-20px-letter-spacing: 0px;
    --poppins-regular-20px-line-height: normal;
    --primary-colorcolor-01: rgba(61, 140, 140, 1);
    --secondary-colorcolor-01: rgba(36, 109, 109, 1);
    --variable-collection-primary-colour-brown: rgba(91, 58, 29, 1);
  }