@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    font-size: 25px;
    font-weight: bold;
}

.codePrompt {
    font-weight:400px;
    font-size: 20px;
}

.simpleInput {
    border-radius: 8px;
    min-height: 40px;
}

.inputHeader {
    font-size: 20px;
    font-weight: 500;
}

.main{
    padding: 20px;
    font-family: 'Poppins';
    display: flex;
    min-height: 100vh;
    gap: 10px;
    flex-direction: column;
}