.khatHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.khatHistoryMain{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.khatHistoryMain h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--primary-color);
}